.registration-auth {
    background-image: url("https://www.yudiz.com/codepen/animation-form/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 1400px;
    display: flex;
    justify-content: center;
    padding-top: 3%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
select {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}
select {
  width: 70%;
}

.registration-container {
    height: 85vh;
    width: 70%;
    padding: 20px;
    padding-bottom: 1px;
    padding-top: 40px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #ffffff96;
    backdrop-filter: blur(5px);
    font-family: "Montserrat", sans-serif;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
      rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .registration-form {
    display: flex;
    flex-direction: column;
  }
  
  .registration-input-group {
    display: flex;
    margin-bottom: 16px;
  }
  
  .registration-input-group div {
    display: flex;
    flex-direction: row;
  }
  
  .registration-text-area {
    padding: 10px;
    width: 130px;
    text-align: right;
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
  }
  
  .registration-input-group input,
  .registration-input-group select {
    flex: 1;
    padding: 8px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .registration-btn1 {
    margin-top: 16px;
  }
  
  .registration-error-msg {
    color: red;
    margin-top: 8px;
  }
  
